
.gallery h1 {
    padding: 70px 50px;
}


.mgrid {
    position: relative;

    width: auto;
    margin: 0 50px 35px 50px;
    transition: none;
}
.mgrid-item {
    transition: none;
    display: block;
    position: absolute;
    z-index: 1000;
    height: var(--mgrid-item-width);
    background-color: $color3;
    //margin-left: 20px;
    width: calc( 100% / var(--gallery-rows) - var(--gallery-space-w) / var(--gallery-rows) );
    overflow: hidden;
    border-radius: 35px;
    & img {
        transition: .5s;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }   
}

.mgrid .width2 {
    width: calc( (25% - 40px / 4 ) * 2 + 10px );
}

.mgrid .height2 {
    height: 210px;
}


.uk-transition-active img {
    transition: .5s;
}

.slbElement {
    z-index: 20;
}

.lg-show {
    z-index: 5000;
}