.product1 {
    display: table;
    position: relative;
    margin-top: -120px;
    width: 100%;
    height: calc(100vh - 120px);
    overflow: hidden;
    border-radius: 0px 0px 35px 35px;
    z-index: 25;

    & .product1img {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        width: 100%;
        height: calc(100vh - 120px);
        transition: none;
        & .product1elements {
            transition: none;
            margin: 35px 50px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: flex-end;

            & h1 {
                color: $color1;
            }

            & .product1info {
                display: flex;
                flex-direction: column;
                align-items: center;
                & button {
                    margin-top: 20px;
                    background-color: $color1;
                    color: $color2;
                    & svg path {
                        stroke: $color2;
                    }

                    &:hover {
                        background-color: $color3;
                    }
                }
            }
    
    
        }
    }
}

.product2 {
    display: flex;
    justify-content: space-between;


    & .product2left .p2left{
        overflow: hidden;
        width: 100%;

        &.p2left1 {
            width: 100%;
        }
        & .p2left2 {
            margin: 50px 0;
            width: 100%;
        }

        & .p2left3 {
            overflow: hidden;
            width: 100%;
            padding-bottom: 35px;
        }
    }
    

    & .product2right .p2right{
        width: 100%;
        min-height: calc(100vh - 150px);
        & .p2right1 {
            margin-bottom: 50px;
            text-align: center;
            display: flex;
            justify-content: space-around;
             & .p1 {
                width: 50%;
             }
        }

        & .p2right2 {
            border-radius: 35px;
            background-color: $color3;
            width: 100%;
            & table {
                width: 100%;
                display: block;
                & tbody {
                    width: 100%;
                    display: block;
                    padding: 10px 0;
                    & tr {
                        padding: 10px 20px;
                        display: flex;

                        & td {
                            width: 50%;
                            display: block;
                        }
                    }
                }
            }
        }

        & .p2right3 {
            margin-top: 50px;
            text-align: center;
            & .p2review {
                background-color: $color3;
                border-radius: 35px;
                margin: 35px 0;
            }
        }
    }
}

.p2left2imgwrapper {
    width: 100%;
    aspect-ratio: 16 / 9;
    overflow: hidden;

    & img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

.lSSlideOuter {
    border-radius: 35px;
    & .lSSlideWrapper {
        aspect-ratio: 16 / 9;
        border-radius: 15px;
        & .lightSlider {
            height: auto !important;
        }
        & .lSAction {
            position: absolute;
            bottom: 50%;
            top: 50%;
            display: flex;
            justify-content: space-between;
            width: 100%;
        }
    }
    & .lSPager li {
        aspect-ratio: 1 / 1;
        border-radius: 15px;

        & a {
            height: 100%;
            width: 100%;
            display: block;
            overflow: hidden;

            & img {
                display: block;
                max-width: none !important;
                height: 100% !important;
                width: 100%;
                object-fit: cover;
                
            }
        }
    }
}





.product2 {
    display: grid;
    grid-gap: 50px;
    grid-template-columns: 66% 33%;
    position: relative;
    width: calc(100% - 140px);
    margin: 50px 50px;

    & .product2left, .product2right{
        position: relative;
        display: flex;
        max-width: 100%;
        & .p2left, .p2right {
            position: sticky;
            bottom: 0px;
            margin-top: auto;
        }
    }
}




.p2review {
    padding: 20px;
    & .p2reviewheader {
        display: flex;
        justify-content: space-between;
        & .p2rhleft {
            display: flex;
            & .p2rhcircle {
                background-color: $color2;
                opacity: .5;
                border-radius: 100%;
                height: 50px;
                width: 50px;
                display: flex;
                align-items: center;
                justify-content: center;
                color: $color1;
                & p {
                    vertical-align: middle;
                    font-size: 24px;
                }
            }

            & .p2rhcenter {
                padding-left: 20px;
                height: 50px;
                text-align: left;
                & h5 {
                    font-size: 20px;
                }
                & .starrating {
                    --percent: calc(var(--rating) / 5 * 100%);
                    display: inline-block;
                    font-family: Times; // make sure ★ appears correctly
                    line-height: 1;
                    font-size: 140%;
                    
                    &::before {
                      content: '★★★★★';
                      letter-spacing: 3px;
                      background: linear-gradient(90deg, $color5 var(--percent), $color1 var(--percent));
                      -webkit-background-clip: text;
                      background-clip: text;
                      -webkit-text-fill-color: transparent;
                    }
                }
            }
        }
        & .p2rhright {
            opacity: .5;
            color: $color2;
        }
    }
    & .p2reviewbody {
        text-align: left;
        margin-top: 10px;
    }
}






@media (max-width: 960px) {
    .product1 .product1img .product1elements{
        & h1 {
            font-size: 36px;
        }
    } 

    .product2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        padding: 0 20px;
        width: calc(100% - 40px);

        & .product2left, .product2right {
            text-align: center;
            padding: 50px 0 35px 0;
        }
    }
}

@media (max-width: 640px) {
    .product1 .product1img .product1elements{
        justify-content: center;
        & h1 {
            text-align: center;
        }
        & .product1info {
            display: none;
        }
    } 
}