

// HEADER


.header {
    overflow: hidden;
    background-color: $color1;
    padding: 0px 0px;
    align-items: flex-start;
    justify-content: center;
    display: flex;
    height: 120px;
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    z-index: 100;
    transition: .3s ease;

}

.header-wrapper {
    flex: 1;
    align-items: center;
    justify-content: space-between;
    display: flex;
    margin: 0px 50px;
    height: 119px;
    border-bottom: 1px solid $color2;
}


// HEADER PARTS


.header-left {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    & span {
        cursor: pointer;
    }
}

.header-center {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


// LOGO


.header img {
    float: left;
    width: 90px;
}


// NAVIGATION


.hoverrunbox {
    position: fixed;
    display: flex;
    padding: auto 8px;
    top: -12px;
}

.hoverrunbox div {
    width: 70px;
    height: 12px;
    margin: 0px 34px;
    background-color: $color2;
    transition: .3s ease;
    border-radius: 6px;
}

.navElements {
    display: flex;
}

.navElements .active {
    width: 122px;
    margin: auto 8px;
    text-align: center;
    cursor: pointer;
    

}

.header-center .active {
    font-size: 16px;
    text-decoration: none;
    color: $color2;
}


// BUTTON


.arrowMOF {
    transition: .3s ease;

     & path {
        stroke: $color1;
     }
}


// MOF POPUP


.bgMOF {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: $color4;
    opacity: 0;
    pointer-events: none;
    z-index: 11;
}

.popupMOF {
    height: 0px;
    width: 100%;
    background-color: $color2;
    border-radius: 0 0 35px 35px;
    transition: .5s ease;
    position: fixed;
    top: 0;
    
}

.heaL {
    margin: 170px 0px;
    color: $color1;
    pointer-events: none;
}

.heaLE {
    padding: 0 50px;
    transform: translateY(-30px);
    transition: 1s ease;
    opacity: 0;
    pointer-events: none;
    margin-top: -1px !important;
}

.heaCH {
    border-top: 1px solid $color1;
    background-color: transparent;
    padding: 20px 0;
}

.heaCB {
    padding: 0 0 20px 0;
}

.heaCF {
    border-bottom: 1px solid $color1;
    margin-bottom: 0;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    cursor: pointer;

    & svg {
        width: 25px;
        height: 25px;
        border: 1px solid $color1;
        padding: 2px;
        border-radius: 20px;
    }

    &:hover svg {
        background-color: $color1;

        & g {
            fill: $color2;
        }
    }
}


// PRODUCT POPUP


.popupP {
    height: 0px;
    width: 100%;
    background-color: $color1;
    border-radius: 0 0 35px 35px;
    transition: .5s ease;
    position: fixed;
    top: 0;
}


.proL {
    margin: 170px 0px;
    color: $color1;
    pointer-events: none;
    padding: 0px 38px;
}

.proLE {
    margin: 0 12px;
    padding: 0 25px;
    transform: translateY(-30px);
    transition: 1s ease;
    opacity: 0;
    pointer-events: none;
    margin-top: -1px !important;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("https://fiverr-res.cloudinary.com/images/t_main1,q_auto,f_auto,q_auto,f_auto/gigs2/142015082/original/b5880f689f29b12c7c15baf6f3f23c1dea2eb3d4/winter-forest-logo-animation-intro.jpg");
    background-position: center;
    background-size: cover;
    height: 400px;
    border-radius: 35px;
    color: $color1;
    text-decoration: none;

    &:hover {

        & .proCF svg {
            background-color: $color1;

            & g {
                fill: $color2;
            }
        }
        
    }
}

.proLEX {
    background: $color3;

    & div {
        background-color: $color3;
        margin: 0 -12.5px;
        border-radius: 35px;
    }

    & .proCB {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 400px;

        & .proLEXarrow {
            width: 150px;
            height: 150px;

            & path {
                stroke: $color2;
                stroke-width: 1;
            }
        }

    }
    &:hover .proCB .proLEXarrow path {
        stroke: $color3;
    }
    &:hover div {
        background: $color2;
    }
}

.proCH {
    background-color: transparent;
    padding: 30px 0;
    height: 117px;
}

.proCB {
    padding: 20px 0 ;
    height: 180px;
}

.proCF {
    margin-bottom: 0;
    padding: 0 0 15px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    border-top: 1px solid $color1;

    & h6 {
        color: $color1;
    }

    & svg {
        width: 25px;
        height: 25px;
        border: 1px solid $color1;
        padding: 2px;
        border-radius: 20px;

        & g {
            fill: $color1;
        }
    }
}


// BURGER


.header-burger {
    display: none;
    order: -1;
    flex: 1;
    justify-content: flex-start;
    align-items: left;
}


.burgerpopup {
    height: 0px;
    width: 100%;
    background-color: $color2;
    transition: .5s ease;
    position: fixed;
    top: 0;
    
}

.burgernavigation {
    margin: 110px 50px;
    pointer-events: none;

}

.burgernavigationelement {
    border-bottom: 1px solid $color1;
    border-top: 1px solid $color1;
    margin-bottom: -1px;
    padding: 30px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    transition: 1s ease;
    opacity: 0;
    transform: translateY(-30px);
    pointer-events: none;



    & svg {
        width: 25px;
        height: 25px;
        border: 1px solid $color1;
        padding: 2px;
        border-radius: 20px;
    }

    &:hover svg {
        background-color: $color1;

        & g {
            fill: $color2;
        }
    }
}













// MOBILE


@media (max-width: 1200px) {
    .navElements .active {
        margin: auto 0;
        width: 106px;
    }
    .hoverrunbox div {
        margin: 0px 18px;
    }
}


@media (max-width: 960px) {
    .header {
        height: 80px;
    }
    .header-wrapper {
        height: 79px;
        margin: 0 20px;
    }
    .header-center {
        display: none;
    }
    .header-left {
        justify-content: center;
    }
    .navElements {
        flex-direction: column;
        justify-content: center;
        display: none;
    }
    .header img {
        float: none;
        width: 60px;
    }

    .header-burger{
        display: flex;
    }

    .burgericon {
        height: 30px;
        width: 30px;
        margin-left: 10px;
        //border: 1px solid red;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    
        & .line1, .line2, .line3 {
            background-color: $color2;
            height: 3px;
            width: 30px;
            border-radius: 10px;
        }
    }

    .heaCB, .heaCF, .heaCH {
        padding: 15px 0;
    }

    .heaL {
        margin: 110px 0;
    }
    
    
}



.header2 {
    background-color: $color3;
}