// Custom styles
// =================================================

* {
    margin: 0px;
    font-family: $font-family;
    transition: .3s ease;
}

.uk-text-lead {
    font-size: 36px;
}

.p {
    font-size: 24;
}

.mainpage {
    margin-top: 120px;
    background-color: $color1;
    padding-bottom: 35px;
    border-radius: 0 0 35px 35px;
}



div {       // for footer to work including interactive elements
    z-index: 10;
    position: relative;
}

body {
    background-color: $color2;
    //height: 100vh;
}

.transition {
    position: fixed;
    height: calc( 200vh + 120px );
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color2;
    transition: opacity .3s ease;
    margin-top: -120px;

    & svg {
        height: 200px;
        width: 200px;

        & .b {
            fill: $color3;
            opacity: 0;
        }
    }
}


@media (max-width: 480px){
    :root {
        zoom: .8;
    }
    
}

@media (max-width: 960px) {
    .mainpage {
        margin-top: 80px;
    }
}