// Custom styles
// =================================================

* {
    margin: 0px;
    font-family: $font-family;
    transition: .3s ease;
}

.uk-text-lead {
    font-size: 36px;
}

.p {
    font-size: 24;
}

.mainpage {
    background-color: $color1;
    padding-bottom: 35px;
    border-radius: 0 0 35px 35px;
}



div {       // for footer to work including interactive elements
    z-index: 10;
    position: relative;
}

body {
    background-color: $color2;
}

.transition {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color2;
    transition: opacity 1s ease;

    & svg {
        height: 200px;
        width: 200px;

        & .b {
            fill: $color3;
            opacity: 0;
        }
    }
}





