title = "Gallery"
url = "/gallery"
layout = "default"
is_hidden = 0


[collection products]
handle = "Flugcraft\Products"
==


<div class="gallery">
    <h1>Gallery</h1>
    <div class="mgrid" id="lg">
        {% for product in products %}
        {% for image in product.images %}
        <a 
            href="{{image | media}}" 
            class="mgrid-item mgrida"
            data-sub-html=
                "<a href='/product/{{product.slug}}' class='m-grid-item-caption'>
                    <h3>{{product.title}}</h3>
                </a>"
        > 
            <img loading="lazy" data-src="{{ image | media | resize(750)}}">
        </a>
        {% endfor %}
        {% endfor %}
    </div>
</div>