url = "/product/:slug"
title = "Product"
layout = "default"
is_hidden = 0

[section product]
handle = "Flugcraft\Products"
entrySlug = "{{ :slug }}"
==

{% if product is empty %}
    {% do abort(404) %}
{% endif %}

<div class="product1">
    <div class="product1img" style="background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('{{product.images[0] | media}}'); background-position: center center; background-size: cover;">
        <div class="product1elements">
            <h1 class="product1title">{{product.title}}</h1>
            <div class="product1info">
                <div class="starrating" style="--rating: calc(( 0 {% for review in product.reviews%}+ {{review.rating}} {% if loop.last %}) / {{loop.index}} {% endif %} {% endfor %})"></div>
                <button class="btna btn1" onclick="hideAll(); transitionToPage('https://fiverr.com/flugcraft')">
                    <p id="btnatxt">Get it on Fiverr</p>
                    <svg id="arrowMOF" class="arrowMOF" width="24px" height="24px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path id="arrowMOFPath" d="M8.5 5L15.5 12L8.5 19" stroke="#130F26" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" class="fiverricon" data-name="Ebene 1" viewBox="0 0 221.85 237.42">
                        <defs>
                        </defs>
                        <circle id="fiverrMOFCircle" class="b" cx="172.87" cy="26.87" r="26.87"/>
                        <path id="fiverrMOFPath" class="b" d="M200.94,71.36H77.94v-8.06c0-15.83,15.83-16.13,23.89-16.13,9.25,0,13.44,.9,13.44,.9V4.47c-6.54-.81-13.12-1.21-19.71-1.19-25.68,0-73.16,7.16-73.16,61.51v6.91H0v40.31H22.4v85.1H1.5v40.31H102.41v-40.35h-24.49V111.97h67.15v85.1h-20.87v40.31h97.65v-40.31h-20.91V71.36Z"/>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</div>
<div class="product2">
    <div class="product2left"><div class="p2left">
        <div class="p2left1">
            <p>{{product.slogan}}</p>
        </div>
        <div class="p2left2">
            <ul id="lg2">
                {% for image in product.images %}
                <li data-thumb="{{ image | media | resize(750)}}" data-src="{{ image | media}}">
                    <div class="p2left2imgwrapper">
                        <img src="{{image | media}}" />
                    </div>
                    
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="p2left3">
            {{product.description |raw}}
        </div>
    </div></div>
    <div class="product2right"><div class="p2right">
        <div class="p2right1">
            <p class="p1">{{product.delivery_time}} Day{% if product.delivery_time == 1%}{% else %}s{% endif %} Delivery</p>
            <p>|</p>
            <p class="p1">{%if product.reviews is empty%}No{% else %}{% for review in product.reviews%}{% if loop.last %}{{loop.index}}{% endif %}{% endfor %}{% endif %} Review{% for review in product.reviews%}{% if loop.last %}{% if loop.index == 1 %}{% else %}s{% endif %}{% endif %}{% endfor %}</p>
        </div>
        <div class="p2right2">
            <table>
                <tr>
                    <td>Type:</td>
                    <td>{{product.type}}</td>
                </tr>
                <tr>
                    <td>File Format:</td>
                    <td>{{product.file_format}}</td>
                </tr>
                <tr>
                    <td>Length:</td>
                    <td>{{product.length}}s</td>
                </tr>
                <tr>
                    <td>Resolution:</td>
                    <td>{{product.resolution}}</td>
                </tr>
            </table>
        </div>
        <div class="p2right3">
            <h3>Reviews</h3>
            {% for review in product.reviews %}
            <div class="p2review">
                <div class="p2reviewheader">
                    <div class="p2rhleft">
                        <div class="p2rhcircle">
                            <p>{{review.username | slice(0,1)}}</p>
                        </div>
                        <div class="p2rhcenter">
                            <div class="starrating" style="--rating: {{review.rating}}"></div>
                            <h5>{{review.username}}</h5>
                        </div>
                    </div>
                    <div class="p2rhright">
                        {{review.date | date("d/m/y")}}
                    </div>
                </div>
                <div class="p2reviewbody">
                    {{review.text}}
                </div>
            </div>
            {% endfor %}
        </div>
    </div></div>
</div>
